@import url("https://fonts.cdnfonts.com/css/alarm-clock");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #188392;
  overflow: hidden;
}

.header {
  background-color: #000000;
  color: #4fda3c;
  padding: 5px;
  gap: 5px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "alarm clock", sans-serif;
}

.navbar {
  color: #4fda3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  font-size: 18px;
}

.tab-button {
  background-color: #188392;
  color: #4fda3c;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  font-family: "alarm clock", sans-serif;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #4fda3c;
  color: #188392;
}

.main {
  height: 91vh;
}

.clock {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chronometer {
  display: none;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

#chrono {
  text-align: center;
}

.btn-start {
  background-color: #4fda3c;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border: 2px solid white;
}

.btn-start:hover {
  border: 2px solid #4fda3c;
  background-color: white;
  color: #4fda3c;
}

.btn-pause {
  background-color: #797d7c;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border: 2px solid white;
}

.btn-pause:hover {
  border: 2px solid #797d7c;
  background-color: white;
  color: #797d7c;
}

.btn-stop {
  background-color: #fa1111;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border: 2px solid white;
}

.btn-stop:hover {
  border: 2px solid #fa1111;
  background-color: white;
  color: #fa1111;
}

#timer {
  display: none;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: black;
  font-size: 100px;
  color: #4fda3c;
  border: 10px solid #dad8d8;
  border-radius: 20px;
  padding: 100px;
  font-family: "alarm clock", sans-serif;
}

.footer {
  color: #4fda3c;
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin-top: auto;
}

.footer-container {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  font-size: 18px;
}
