@import url("https://fonts.cdnfonts.com/css/alarm-clock");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #188392;
  overflow: hidden;
}

.clock {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: black;
  font-size: 100px;
  color: #4fda3c;
  border: 10px solid #dad8d8;
  border-radius: 20px;
  padding: 100px;
  font-family: "alarm clock", sans-serif;
}

.footer {
  color: #4fda3c;
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin-top: auto;
}

.footer-container {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  font-size: 18px;
}
